.wrap {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.container {
  width: 400px;
}

.text {
  margin-bottom: 16px;
  display: flex;
}

.title {
  width: 40px;
  font-weight: 500;
}
