$lineColor: rgb(232, 232, 232);

.wrap {
  width: 100%;
}

.title {
  font-size: 24px;
  font-weight: 500;
  padding: 16px 16px 32px 16px;
  border-bottom: 1px solid $lineColor;
}

.container {
  padding: 0 1em;
  margin: 32px 0;
}

.input {
  width: 250px;
  height: 35px;
  padding: 0 0.5rem;
  border: 1px solid $lineColor;
  font-size: 16px;
  margin: 0 16px 16px 0;
}

.btn {
  border-radius: 0;
  height: 35px;
  border: 1px solid $lineColor;
  margin: 0 16px 16px 0;
  opacity: 0.7;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }
}
