$lineColor: rgb(232, 232, 232);

.wrap {
  width: 100%;
}

.title {
  font-size: 24px;
  font-weight: 500;
  padding: 16px 16px 32px 16px;
  border-bottom: 1px solid $lineColor;
}

.container {
  padding: 0 1em;
  margin: 32px 0;
}

.input {
  width: 250px;
  height: 35px;
  padding: 0 0.5rem;
  border: 1px solid $lineColor;
  font-size: 16px;
  margin-right: 16px;
}
